.text-input {
    -fx-text-fill: white;
    -fx-background-color: #202020;
    -fx-border-radius: 8;
}

.text-area .content {
    -fx-text-fill: white;
    -fx-background-color: #202020;
    -fx-border-radius: 8;
}