.text-input {
    -fx-text-fill: white;
    -fx-background-color: #202020;
    -fx-border-color: #767676;
    -fx-border-radius: 8;
}

.text-area .content {
    -fx-text-fill: white;
    -fx-background-color: #202020;
    -fx-border-radius: 8;
}

.combo-box-base{
    -fx-background-color: #202020;
    -fx-text-fill: white;
    -fx-border-color: #767676;
    -fx-border-radius: 8;
}

.combo-box .list-cell {
  -fx-text-fill: white;
}

.combo-box .list-view .list-cell {
  -fx-text-fill: black;
}

.combo-box .list-view .list-cell:focused {
  -fx-background-color : #202020;
  -fx-text-fill: white;
}

.combo-box .list-view .list-cell:hover {
  -fx-background-color : #202020;
  -fx-text-fill: white;
}